
* {
    margin: 0%;
    padding: 0%;
    box-sizing: boder-box;
}

body {
    width:$ancho-100;
    height:$alto-100;

}
/*index*/
.container__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header"
        "main"
        "aside"
        "footer";
    grid-template-rows: auto;

}
/*MUJERES*/
.container__grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
    grid-template-rows: auto;
    margin: 0%;
}

