
/*MEDIAQUERIS DE PAGINA INDEX*/
@media screen and (max-width: 800px) {


    .cuerpo__titulo {
        font-size: 150%;

    }

    .cuerpo2 {
        background-image: linear-gradient(to top, rgb(137, 33, 33), rgb(127, 127, 122));
    }

    .cuerpo2__divdescuento {
        background-image: linear-gradient(to top, rgb(137, 33, 33), rgb(127, 127, 122));
    }

    .cuerpo2__divdescuento p {
        font-size: small;
    }

    .cuerpo2__divcomprar__button {
        width: auto;
    }

    .aside {
        border: dashed rgb(224, 54, 12);
    }

    .footer {
        background-color: map-get($mapa-colores, gris_meadiaquiery );
        flex-direction: column;


    }

    .footer_div_texto {
        font-size: 60%;
    }

}

/*MUJERES*/
@media screen and (max-width: 800px) {


    .mujeres {
        background-color: rgb(236, 156, 8);
        color: rgb(235, 230, 230);
        flex-direction: column;
    }

    .mapa {
        border: dashed rgb(16, 17, 14);
        overflow: auto;

    }

}
