$ancho-100:100%;
$alto-100:100vh;
$alto-20:20%;
$letra-oblique:oblique;
$fondoturquesa: rgb(21, 214, 240);

$mapa-colores:(
    negro:rgb(16, 21, 21),
    gris_footer: rgb(100, 98, 98),
    gris_header:rgb(73, 66, 66),
    gris_main:rgb(193, 185, 182),
    gris_meadiaquiery:rgb(110, 110, 109),

)