* {
    margin: 0%;
    padding: 0%;
    box-sizing: boder-box;
}

body {
    width: 100%;
    height: 100vh;

}

.container__grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "header"
        "main"
        "aside"
        "footer";
    grid-template-rows: auto;

}

/*HIJO 1-4*/
.header {
    grid-area: header;
    width: 100%;
    height: 20%;
}
.nav-link:hover {
    background-color: rgb(73, 66, 66);
  }


/*HIJO 2-4*/
.main {
    grid-area: main;
    width: 100%;
    height: 20%;
    flex-direction: column;

}

.cuerpo {
    background-image: url(https://st.depositphotos.com/1063346/1340/i/450/depositphotos_13409056-stock-photo-assorted-sports-equipment-on-black.jpg);
    color: rgb(255, 255, 255);
    background-color: aqua;
    background-color: aqua;
    text-align: center;

}

.cuerpo__titulo {
    font-style: oblique;
    height: 20%;
    font-size: 250%;
    animation-name: cambiarColor;
    animation-duration: 5s;

}

@keyframes cambiarColor {
    from {
        color: brown;
    }

    20% {
        color: rgb(223, 131, 12);
    }

    30% {
        color: blue;
    }
}

.fotos__index:hover {
    border: groove yellow;
}

.cuerpo2 {
    color: rgb(31, 22, 22);
    background-repeat: no-repeat;
    background-image: linear-gradient(to top, rgb(93, 28, 28), yellow);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;



}

.cuerpo2__divcomprar {
    font-size: 150%;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

h2 {
    animation: rollIn;
    animation-duration: 7s
}

.cuerpo2__divcomprar__button {
    border: groove;
    width: 30%;
    background-color: rgb(193, 185, 182);
    font-weight: bold;
    font-size: medium;


}

.cuerpo2__divcomprar__button:hover {
    background-color: rgb(21, 214, 240);

}

.cuerpo2__divcomprar__button {
    animation: flash;
    animation-duration: 5s;
}



.cuerpo2__divdescuento {
    color: rgb(181, 173, 173);
    background-image: linear-gradient(to top, rgb(93, 28, 28), yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


.divdescuento__imagen {
    display: flex;
    width: 40%;
    border-radius: 5%;
    animation-name: mover;
    animation-duration: 5s;

}

@keyframes mover {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translate(0%);

    }

}

/*HIJO 3-4*/
.aside {
    grid-area: aside;
    width: 100%;
    background-color: rgb(16, 21, 21);
    border: dashed yellow;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*HIJO 4-4*/
.footer {
    grid-area: footer;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80%;
    gap: 20%;
    background-color: rgb(100, 98, 98);
    color: aliceblue;
}

.botones {
    display: flex;
    gap: 2%;

}

.botoncito:hover {
    background-color: rgb(21, 214, 240);
}

.texto {
    font-size: 140%;
}


/*MEDIAQUERIS DE PAGINA INDEX*/
@media screen and (max-width: 800px) {


    .cuerpo__titulo {
        font-size: 150%;

    }

    .cuerpo2 {
        background-image: linear-gradient(to top, rgb(137, 33, 33), rgb(127, 127, 122));
    }

    .cuerpo2__divdescuento {
        background-image: linear-gradient(to top, rgb(137, 33, 33), rgb(127, 127, 122));
    }

    .cuerpo2__divdescuento p {
        font-size: small;
    }

    .cuerpo2__divcomprar__button {
        width: auto;
    }

    .aside {
        border: dashed rgb(224, 54, 12);
    }

    .footer {
        background-color: rgb(110, 110, 109);
        flex-direction: column;


    }

    .texto {
        font-size: 100%;
    }

}












/* CSS PARA MI PÁGINA MUJERES*/

.container__grid2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "main"
        "section"
        "footer";
    grid-template-rows: auto;
    margin: 0%;
}

.mujeres {
    background-color: bisque;
    margin: 0px;
    padding: 0%;
    display: flex;
    flex-direction: row;
}


.mujeres__filtros {
    margin-right: 80px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;

}

.mujeres__filtros__titulo {

    font-style: normal;
    font-size: 25px;
    animation: backInRight;
    animation-duration: 5s;
}



.mujeres__filtros__subtitulo {
    font-size: 20px;
    font-style: normal;
}

.mujeres__fotos {
    gap: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5%;
}

.fotito:hover {
    border: groove yellow;
}


.mapa {
    width: auto;
    display: flex;
    margin-right: 0%;
    border: solid rgb(170, 38, 161);

}

.mapa:hover {
    border: groove rgb(17, 241, 241);
}

@media screen and (max-width: 800px) {


    .mujeres {
        background-color: rgb(236, 156, 8);
        color: rgb(235, 230, 230);
        flex-direction: column;
    }

    .mapa {
        border: dashed rgb(16, 17, 14);
        overflow: auto;

    }

}






/*CSS PARA LA PÁGINA CONTACTO*/

.mainContacto {
    width: 100%;
    height: 100%;
    background-image: url(../assets/img/Contacto/hombreSaltando.jpg);
    padding-left: 10%;
    padding-top: 8%;
    overflow: hidden;
}

.tituloContacto {
    animation: fadeInDown;
    animation-duration: 3s;
    font-style: normal;
}


.btn {
    
    animation: rotateIn;
    animation-duration: 5s;
}